[workspace]
members = [
    "guests",
    "host",
    "lib",
    "primitives",
    "testing/ef-tests"
]

# Always optimize; building and running the guest takes much longer without optimization.
[profile.dev]
opt-level = 3

[profile.dev.build-override]
opt-level = 3

[profile.release]
debug = 1
lto = true

[profile.release.build-override]
opt-level = 3

[workspace.dependencies]
bonsai-sdk = "0.3"
risc0-build = "0.18"
risc0-zkvm = { version = "0.18", default-features = false }
