[workspace]
resolver = "2"
members = [
    "lib",
    "primitives",
    "raiko-host",
    # "sgx-ra",
    # "tests/*",
]


# Always optimize; building and running the guest takes much longer without optimization.
[profile.dev]
opt-level = 3

[profile.dev.build-override]
opt-level = 3

[profile.release]
debug = 1
lto = true

[profile.release.build-override]
opt-level = 3


[workspace.dependencies]
hashbrown = { version = "0.14", features = ["inline-more"] }
revm-primitives = { git = "https://github.com/ceciliaz030/revm.git", branch = "sync-taiko-v3.5", default_features = false }
revm = { git = "https://github.com/ceciliaz030/revm.git", branch = "sync-taiko-v3.5", default-features = false, features = [
    "serde",
] }
