[workspace]
resolver = "2"
members = ["guests", "host", "lib", "primitives", "testing/ef-tests"]

# Always optimize; building and running the guest takes much longer without optimization.
[profile.dev]
opt-level = 3

[profile.dev.build-override]
opt-level = 3

[profile.release]
debug = 1
lto = true

[profile.release.build-override]
opt-level = 3

[workspace.dependencies]
bonsai-sdk = { version = "0.9.0", features = ["non_blocking"] }
hashbrown = { version = "0.14.5", features = ["inline-more"] }
risc0-build = { version = "1.0.3" }
risc0-zkvm = { version = "1.0.3", default-features = false }
revm-primitives = { version = "2.0", default-features = false }
revm = { version = "5.0", default-features = false, features = [
    "std",
    "serde",
    "optimism",
] }
